.bdep/
_darcs/
.ninja_deps
.ninja_log
build/bootstrap/
tests/build/bootstrap
tests/unit/driver
darcs.marks
git.marks

# Local default options files.
#
.build2/local/

# Compiler/linker output.
#
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc
